---
layout: default
title: home
sidebar: true
--- 

<div class="row">
  <div>
  {% if page.sidebar == "true" %}
    <article class="columns small-12 large-9 comic-page">
  {% else %}
    <article class="columns small-12 large-offset-1 large-10 comic-page">
  {% endif %}
      <nav class="comic-nav">
	<nav class="previous-comic">
	  {% for post in site.posts limit:1 offset:1 %}
	    <a href="{{ site.baseurl }}{{ post.url }}" class="icon-arrow-left hide-for-small">Previous</a>
	    <a href="{{ site.baseurl }}{{ post.url }}" class="icon-arrow-left hide-for-large"></a>
	  {% endfor %}
	</nav>
	<nav class="first-comic">
	  <a href="{{ site.baseurl }}{{ site.posts.last.url }}">First</a>
	</nav>    
	<nav class="comic-next">
	{% for post in site.posts limit:1 offset:1 %}
	  <a href="{{ site.baseurl }}/{{ post.categories }}/" class="hide-for-small">Archive<span class="icon-arrow-down"></span></a>
	  <a href="{{ site.baseurl }}/{{ post.categories }}/" class="hide-for-large"><span class="icon-arrow-down"></span></a>
	{% endfor %}
	</nav>
      </nav>

	{% for post in site.posts limit:1 %}
	
	  {{ post.content }}
	  
	{% endfor %}
      <nav class="comic-nav">
	<nav class="previous-comic">
	  {% for post in site.posts limit:1 offset:1 %}
	    <a href="{{ site.baseurl }}{{ post.url }}" class="icon-arrow-left hide-for-small">Previous</a>
	    <a href="{{ site.baseurl }}{{ post.url }}" class="icon-arrow-left hide-for-large"></a>
	  {% endfor %}
	</nav>
	<nav class="first-comic">
	  <a href="{{ site.baseurl }}{{ site.posts.last.url }}">First</a>
	</nav>    
	<nav class="comic-next">
	  <a href="{{ site.baseurl }}/{{ post.categories }}/" class="hide-for-small">Archive<span class="icon-arrow-down"></span></a>
	  <a href="{{ site.baseurl }}/{{ post.categories }}/" class="hide-for-large"><span class="icon-arrow-down"></span></a>
	</nav>
      </nav>
  </article>
  </div>
  {% if page.sidebar == "true" %}
    {% include asides/recent_posts.html %}
  {% endif %}
</div>