<footer class="site-footer">
  <div class="row">
    <div class="large-12 hide-for-small columns center-text">
      <strong>Available now at: <a href="http://www.amazon.com/dp/B00NTC5CWM/?tag=bathelup-20">Amazon</a> | <a href="https://www.comixology.com/Shamsee-Vol-1-A-Fistful-of-Lunars/digital-comic/162424">Comixology</a> | <a href="https://www.gumroad.com/shamsee">Gumroad</a> | <a href="http://comics.drivethrustuff.com/product/137601/Shamsee-A-Fistful-of-Lunars">DriveThru</a></strong>
      <p>Some Rights Reserved | <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
    </div>
    
    <div class="small-12 hide-for-large columns center-text">
      <strong>Available now at:</strong> <br />
      <ul>
      {% for about in site.data.about %}
	{% if about.gumroad%}
	  <li><a href="{{ about.gumroad }}"><span class="icon-gumroad socials"></span></a></li>
	{% endif %}
	{% if about.amazon%}
	  <li><a href="{{ about.amazon }}"><span class="icon-amazon socials"></span></a></li>
	{% endif %}
	{% if about.comixology %}
	  <li><a href="{{ about.comixology }}"><span class="icon-comixology socials"></span></a></li>
	{% endif %}
	{% if about.drivethru%}
	  <li><a href="{{ about.drivethru }}"><span class="icon-drivethru socials"></span></a></li>
	{% endif %}
      {% endfor %}
      </ul>
      <p class="copyright">Some Rights Reserved | <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
    </div>
  </div>
</footer> 