<footer class="site-footer">
  <div class="row">
    <div class="large-12 hide-for-small columns center-text">
      <strong>Available now at: <a href="http://www.amazon.com/dp/B00NTC5CWM/?tag=bathelup-20">Amazon</a> | <a href="https://www.comixology.com/Shamsee-Vol-1-A-Fistful-of-Lunars/digital-comic/162424">Comixology</a> | <a href="https://www.gumroad.com/shamsee">Gumroad</a> | <a href="http://comics.drivethrustuff.com/product/137601/Shamsee-A-Fistful-of-Lunars">DriveThru</a></strong>
      <p>Some Rights Reserved | <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
    </div>
    
    <div class="small-12 hide-for-large columns center-text">
      <strong>Available now at: <br />
      <a href="http://www.amazon.com/dp/B00NTC5CWM/?tag=bathelup-20">Amazon</a> <br />
      <a href="https://www.comixology.com/Shamsee-Vol-1-A-Fistful-of-Lunars/digital-comic/162424">Comixology</a> <br />
      <a href="https://www.gumroad.com/shamsee">Gumroad</a> <br />
      <a href="http://comics.drivethrustuff.com/product/137601/Shamsee-A-Fistful-of-Lunars">DriveThru</a></strong><br />
      <p class="copyright">Some Rights Reserved | <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
    </div>
  </div>
</footer> 