---
layout: default
---

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

<div class="blog-archives">
  <div class="row">
  <h1>{{ page.title }}</h1>
    {% for post in site.categories.[page.category] %}
      {% if post.thumbnail %}
	<div class="small-4 large-3 column center-text left">
	    <figure>
	      <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}{{ post.thumbnail }}" align="center" /><figcaption>{{ post.title }}</figcaption></a>
	    </figure>
	</div>
      {% endif %}
    {% endfor %} 
  </div>
</div>



